{{ define "main"}}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
 tex2jax: {
 inlineMath: [['$', '$'] ],
 displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
 }
 });
</script>

<div class="single">
    <div class="singleHead">
        <div class="singleHeadText">
            <h1 class="singleHeadTitle">{{.Title}}</h1>
            <p class="singleHeadDesc">{{.Params.description}}</p>
            <div class="singleHeadDetail">
                <img src={{.Params.avatar}} alt="" class="singleAvatar">
                <span>{{range(.GetTerms "authors")}}
                    <a href={{.Permalink}}>{{.Name}}</a>
                    {{end}}
                    {{range(.GetTerms "categories")}}
                    <a href={{.Permalink}} class="singleCategory">{{.Name}}</a>
                    {{end}}
                </span>
            </div>
            <time>{{.Date}}</time>
        </div>
        <img src={{.Params.imageBig}} alt={{.Title}} class="singleHeadImg">
    </div>
    <div class="singleBottom">
        <div class="singleContent">{{.Content}}</div>
        <div class="singleRightBar">{{partial "rightBar" .}}</div>
    </div>
    
</div>
{{ end }}